.productManagementContainer{
    padding: 10px;
    padding-top: 0px;
}
.productManagementContainer .title{
    display: grid;
    padding: 10px 0px;
}
.productManagementContainer .title span{
    display: block;
    font-size: 27px;
    font-weight: 600;
    padding: 3px 0px;
}
.productManagementContainer .productTable{
    background-color: white;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.productManagementContainer .productTable .titleTable{
    padding: 15px;
    background-image: linear-gradient(195deg,#42424a,#191919);
    border-radius: 8px 8px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.productManagementContainer .productTable .titleTable .btnAddProduct{
    background: #27ae60;
    padding: 5px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    cursor: pointer;
    transition: all .1s;
}
.productManagementContainer .productTable .titleTable .btnAddProduct:hover{
    background-color: #19703d;
}
.productManagementContainer .productTable .titleTable span{
    color: whitesmoke;
    font-size: 17px;
    font-weight: 500;
}
/* Phần pagination */
.productManagementContainer .productTable .pagination {
    padding: 15px 0px;
    text-align: center;
}
.productManagementContainer .productTable .pagination button {
    margin: 2px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #ddd;
    cursor: pointer;
    color: black;
}
.productManagementContainer .productTable .pagination button.active {
    background-color: #a61713;
    color: white;
}
.productManagementContainer .productTable .pagination button:hover:not(.active) {
    background-color: #ddd;
}

/* .productManagementContainer .productTable .pagination{
    width: fit-content;
    margin: 0 auto;
    padding: 10px 0px;
}
.productManagementContainer .productTable .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 4px;
}
.productManagementContainer .productTable .pagination a.active {
    background-color: #a61713;
    color: white;
}
.productManagementContainer .productTable .pagination a:hover:not(.active) {
    background-color: #ddd;
} */

.order{
    border: .5px solid #efefef;
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.order .buyerName{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 10px 5px;
    border: none;
    /* border-bottom: .5px solid #efefef; */
}
.order .buyerAddress{
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 10px 5px;
    border: none;
    border-bottom: .5px solid #efefef;
}
.order .middle{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    padding: 10px 5px;
    border-bottom: .5px solid #efefef;
}
.order .middle .status{ 
    display: grid;
    align-items: start;
    height: fit-content;
}
.order .middle .status span{ 
    height: fit-content;
    margin: 5px 0px;
}
.order .middle .payment{
    display: grid;
    align-items: center;
}
.order .middle .payment span{ 
    margin: 5px 0px;
}
.order .bottom{
    padding: 10px 5px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.order .bottom .btnUpdateStatusOrder{
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    border: .5px solid #19703d;
    font-size: 14px;
    font-weight: 400;
    color: #19703d;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    cursor: pointer;
    transition: all .1s;
    margin-right: 5px;
}
.order .bottom .btnUpdateStatusOrder:hover{
    background-color: #19703d;
    color: whitesmoke;
}
.order .bottom .btnDetailOrder{
    background: transparent;
    padding: 10px;
    border-radius: 4px;
    border: .5px solid #2c3e50;
    font-size: 14px;
    font-weight: 400;
    color: #2c3e50;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    cursor: pointer;
    transition: all .1s;
}
.order .bottom .btnDetailOrder:hover{
    background-color: #2c3e50;
    color: whitesmoke;
}
.tableContainer .orderListNav{
    border-bottom: .5px solid #efefef;
    position: sticky;
    top: 0px;
    background: white;
}
.tableContainer .orderListNav button{
    transition: ease-out .2s;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.tableContainer .orderListNav button:hover{
    background-color: #efefef;
}
.tableContainer .orderListNav button:hover:active{
    background-color: #b3b3b3;
}
.tableContainer .orderListNav .btnFilterOrder{
    padding: 10px 20px;
    background-color: white;
    color: #555;
    border: none;
    border-right: .5px solid #efefef;
    border-bottom: 3px solid transparent;
}
.tableContainer .orderListNav .btnFilterOrder{
    padding: 10px 20px;
    background-color: white;
    color: #27ae60;
    border: none;
    border-right: .5px solid #efefef;
    border-bottom: 3px solid transparent;
}
.tableContainer .orderListNav .checked{
    border: none;
    border-bottom: 3px solid #000;
    border-right: .5px solid #efefef;
}
.filterByPrice{
    padding: 10px 20px;
    background-color: white;
    border: none;
    transition: ease-out .2s;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    border-right: .5px solid #efefef;
    border-bottom: 3px solid transparent;
}
.filterByPrice:hover{
    background-color: #efefef;
}
.filterByPrice:active{
    background-color: #b3b3b3;
}
.selectUpdateStatus{
    background: transparent;
    padding: 9.5px;
    border-radius: 4px;
    border: .5px solid #000;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    cursor: pointer;
    transition: all .1s;
    margin-right: 5px;
}
.selectUpdateStatus:hover{
    background-color: #efefef;
}
.selectUpdateStatus:active{
    background-color: #b3b3b3;
}


/*                           MEDIA QUERY                          */
/***** 1. Thiết bị có kích thước màn hình 740px - 1023px (màn hình tablet và laptop nhỏ) *****/
@media (min-width: 740px) and (max-width: 1023px) {

}
/***** 2. Thiết bị có kích thước màn hình 1024px - 1239px (màn của PC or Laptop) *****/
@media (min-width: 1024px) and (max-width: 1239px) {
    
}
/***** 3. Thiết bị có kích thước màn hình >= 740px (màn từ Tablet trở lên) *****/
@media (min-width: 740px) {

}
/***** 4. Thiết bị có kích thước màn hình >= 1113px (PC or Laptop có màn lớn) *****/
@media (min-width: 1113px){
    
}
/***** 5. Thiết bị có kích thước màn hình <= 600px (Điện thoại) *****/
@media (max-width: 600px){
    
}