<div class="orderHistoryInfo" *ngFor="let order of list_order">
    <div class="top">
      <div class="leftTop">
        <span>Mã Đơn Hàng:</span>
        <span>{{order._id}} {{order.order_status}}</span>
      </div>
    </div>
    <div class="top"><b>Theo dõi đơn hàng:</b></div>
  
    <!-- Từng order trong đơn mua -->
    <div class="productInfo" *ngFor="let detail of order.order_details">
      <div class="price">
        <a routerLink="/product-detail/{{detail.product_id}}" [queryParams]="{ idProduct: detail.product_id }">Mã: {{detail.product_id}}</a>
      </div>
      <div class="price">
        <span>Phân loại: {{detail.variant_id}}</span>
      </div>
      <div class="price">
        <span>Số lượng: {{detail.quantity}}</span>
      </div>
      <div class="price">
        <span>{{detail.unit_price | number: '1.0-0'}} đ</span>
      </div>
      <div class="price">
        <button type="button" class="btnRating" (click)="open_review(detail.product_id, detail.variant_id, order._id, order.order_details.length)">Đánh Giá</button>
      </div>
      <!-- Hiển thị thông tin sản phẩm và hình ảnh -->
      <div *ngIf="productDetails[detail.product_id]">
        <h3>Thông tin sản phẩm</h3>
        <p>Tên: {{ productDetails[detail.product_id].name }}</p>
        <p>Giá: {{ productDetails[detail.product_id].price | number: '1.0-0'}} đ</p>
        <img *ngIf="productDetails[detail.product_id].product_imgs" [src]="productDetails[detail.product_id].product_imgs[0].link" alt="Product Image">
      </div>
    </div>
    <div class="totalPriceInfo">
      <span>Thành tiền: <span style="color: #a61713; font-size: 22px; font-weight: 400;">{{ order.order_payment_cost | number: '1.0-0'}} đ</span></span>
    </div>
    <div class="bottom">
      <button class="btnRePurchase" disabled>Mua Lại</button>
    </div>
  </div>
  